*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.box1{
	height: 100vh;
	background-color: gray;
}

/*Media queries*/

@media only screen and (min-width: 961px) and (max-width: 1000px){
	.box1{
		background-color: pink;
	}
}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	.box1{
		background-color: yellow;
	}
}

/*mobile*/
@media only screen and (max-width: 400px){
	.box1{
		background-color: red;
	}
}