*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.box{
	border: 1px solid black;
}

.box1{
	background-color: lightblue;
	/*display: flex;*/
}

.box2{
	width: 200px;
	background-color: salmon;
}

.box3{
	height: 350px;
	background-color: brown;
}

.box4{
	height: 250px;
	width: 150px;
	background-color: yellow;
}

.container{
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	justify-content: center;
	height: 200vh;
	/*align-items: flex-end;*/
	/*justify-content: space-around;
	margin: 0 50px;*/
}

.box1 > div{
	display: flex;
}